.form__fieldset {
    border: none;
    margin: 10px;
    padding: 20px;
  }

  .form__legend {
    background-color: #2a3a4c;
    font-size: 22px;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px;
    margin: 20px;
  }

  .form__labelText {
    display: block;
    max-width: 120px;
    font-weight: 700;
    margin: 10px;
    padding: 0;
   
  }
  
  .form__labelText--currency {
    display:inline;
    margin: 0;
    padding: 10px;
    font-weight: 700;
  }