html {
  box-sizing: border-box;
}

*,
::after,
::befor {
  box-sizing: inherit;
}

.body {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../converter.jpg);
  background-repeat: no-repeat;
  background-position: center; 
}